.article {
  max-width: 320px;
  margin: 10px;
}

.article .article-background {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1em;
  overflow: hidden;
  background-color: #111111;
  height: 300px;
  width: auto;
  z-index: 1;
}

.article .image {
  padding: 10px;
  width: auto;
  max-width: 290px;
}

.article a {
  color: #f3f3f3;
  font-size: 18px;
}

.article .title-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(17,17,17,.9);
  z-index: 3;
}

.article .source {
  border-radius: 8px;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 50px;
  z-index: 3;
}

.article .title {
  font-family: Georgia, sans-serif;
  padding: 0 1em;
  text-align: center;
}
